[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
python-keycloak = "*"

[requires]
python_version = "3.8"

[dev-packages]
sphinx = "*"

[dev-packages.pyscaffold]
extras = [ "all",]
